@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.nav {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background: #fff;
    box-shadow:  2px 2px 5px #bebebe,
                 -2px -2px 5px #ffffff;

&__home {
    background-image: url(../../assets/icons/home.png);
    @include nav-buttons;
}

&__activity {
    background-image: url(../../assets/icons/exercise.png);
   @include nav-buttons;
}

&__add {
    background-image: url(../../assets/icons/more.png);
    @include nav-buttons;
}

&__knowledge {
    background-image: url(../../assets/icons/book.png);
    @include nav-buttons;
}

&__profile {
    background-image: url(../../assets/icons/user.png);
    @include nav-buttons;
}

}