.train__heading {
  // border: 1px solid black;
}

.highlighted {
  background-color: blue;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;

  &__toggle {
    // border: 1px solid green;
  }

  &__toggle--noGi {
    padding: .2rem 4rem;
    white-space: nowrap;
  }

  &__hours {
  }

  &__hours-input {
    width: 2rem;
  }

  &__positions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: .4rem;

  }


  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 4rem;
    width: 100%;
    border-top-right-radius: 25px;
    border: 0;
    background: #e0e0e0;
    padding: 1rem;
  }

  &__button--move:active {
    background-color: red;
  }

  &__button--move {

  }

  &__button-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  &__button--move {
    padding: 1rem;
    margin: 0 .2rem;
    width: 25%;
  }

  &__journal {
    // width: 100%;
  }

  &__journal-input {
    resize: none;
    width: 100%;
    height: 5rem;
    border-radius: 4px;
    background-color: #eee;
    color: #65647C;
    padding: .5rem;
    font-size: 1rem;
    border: 0;
  }

  &__submit--button {
    width: 100%;
    height: 2.5rem;
    color: #fff;
    background-color: #0693e3;
    font-size: 1rem;
    border: 0;
    border-radius: 4px;
  }
}



.toggle-slider {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.toggle-slider.on {
  background-color: #0693e3;
}

.toggle-slider.on .slider {
  transform: translateX(24px);
}

.toggle-slider.off .slider {
  transform: translateX(0);
}
