@use "./styles/partials/_fonts.scss" as *;
@use "./styles/partials/mixins" as *;

* {
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
   
    @include tablet {
        width: 50%;
    }
}

.mainContainer {
    flex-grow: 1;
    height: calc(100vh - 12rem);
    overflow-y: auto;
    padding: 0.5rem 1rem;
    border-top-right-radius: 25px;
    border-top-left-radius:  25px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);}