@use "../../styles/partials/mixins" as *;


.days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 1rem;

  &__day {
    text-align: center;
    width: 2.8rem;
    height: 4.5rem;
    border-radius: 14px;
    background: #e0e0e0;
    box-shadow: 5px 5px 20px #bebebe, -5px -5px 20px #ffffff;
    padding: 1rem 0;
  }

  &__day:hover,
  &__day:focus {
    background-color: #0a6ebd;
  }

  &__leftBtn {
   @include today-btn;
  }

  &__rightBtn {
  @include today-btn;
  right: .9rem;
  }
}

.current-day {
  background-color: #9ac5f4;
}

.today {
  height: 20rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__leftCont {
    width: 50%;
    background-image: url("../../assets/images/takedown.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0.1rem;
  }

  &__rightCont {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    margin-top: 1rem;
  }

  &__hours {
    height: 3.5rem;
    @include today-box;
  
  }

  &__positions {
    @include today-box;
    height: 4rem;
  
 
  }

  &__positions--trained {
    @include today-box;
    height: 6rem;
  }

 
}

